<h2>Rules of UnderBoard</h2>
<body>
    <h3>Prohibited Content</h3>
    <ul>
        <li>We do not allow content that promotes illegal activities.</li>
        <li>Violent or graphic material is not allowed.</li>
        <li>Content that incites violence, glorifies it, or organizes it is prohibited.</li>
        <li>Additionally, this rule includes:
            <ul>
                <li>Any sexual material involving children, including drawings and fictional children.</li>
                <li>Promotion or support of pedophilia (children under 16 years old) is prohibited.</li>
            </ul>
        </li>
    </ul>

    <h3>Spamming</h3>
    <ul>
        <li>Excessive repetition or duplicate content is not allowed.</li>
    </ul>

    <h3>Harmful Content</h3>
    <ul>
        <li>Content containing harmful material or links to it is prohibited.</li>
        <li>Link shorteners and other link hiders are not allowed.</li>
        <li>Promotion of harassment of any website or service is prohibited.</li>
        <li>Harmful content includes:
            <ul>
                <li>Phishing.</li>
                <li>Malware or similar unwanted programs.</li>
                <li>Jump-scare videos ("screamers").</li>
            </ul>
        </li>
    </ul>

    <h3>Advertising</h3>
    <ul>
        <li>Content that advertises any commercial or profit-seeking service or product is not allowed.</li>
        <li>Referrer links are allowed only if the person clicking the link benefits from it.</li>
        <li>Advertising a competitor of Underboard or promoting one is prohibited.</li>
    </ul>

    <h3>Harassment</h3>
    <ul>
        <li>Content intended to harass or threaten others or promoting such actions is not allowed.</li>
        <li>Stalking or "doxxing" is prohibited.</li>
    </ul>

    <h3>Sexual Content</h3>
    <ul>
        <li>Except in the "Body and Sex" and "Handicrafts" boards, where the material must be demonstrably original, we do not allow content that:
            <ul>
                <li>Contains nudity or any form of pornography, except non-excitatory art or news-worthy material in a non-sexual context related to the topic.</li>
            </ul>
        </li>
    </ul>

    <h3>Inappropriate Content</h3>
    <ul>
        <li>Except in the "Random," "Bilderberg Club Room," and "International" boards, content that is:
            <ul>
                <li>Inappropriate towards others.</li>
                <li>Contains excessive profanity.</li>
                <li>Contains spoilers without a [spoiler] tag.</li>
                <li>Engages in disputes about opinions, except in threads specifically created for that purpose.</li>
                <li>Multiple user accounts per person are not allowed. Creating them may result in automatic account locking.</li>
            </ul>
        </li>
    </ul>

    <h3>Terms of Use</h3>
    <ul>
        <li>By submitting a file to Underboard, you grant it for free non-commercial distribution. Commercial copyrights remain with you.</li>
        <li>You are responsible for ensuring that you own the necessary copyrights to present your material on Underboard and that your message complies with all applicable laws.</li>
        <li>Copying Underboard's content to another website or application, as well as automated copying for any purpose, is strictly prohibited.</li>
        <li>Using the content for commercial purposes is prohibited. Content can be freely used for academic or public research.</li>
    </ul>

    <h3>Age Restrictions</h3>
    <ul>
        <li>The "Random," "Handicrafts," and "Body and Sex" areas are age-restricted and prohibited for those under 18 or minors without parental consent.</li>
    </ul>

    <h3>Rule Changes</h3>
    <ul>
        <li>Rules may be added, removed, or modified without separate notice.</li>
    </ul>

    <h3>Notification Requirement</h3>
    <ul>
        <li>All legally required reporting of offenses will be reported to the authorities.</li>
    </ul>

    <h3>Acceptance of Terms</h3>
<p>By using this website, you acknowledge and accept the rules and terms outlined above for Underboard. You accept these terms by using this site.</p>
</body>