<div class="jumbotron text-center" style="margin-top: 50px;">
    <h1 class="lead"> Welcome to UnderBoard!</h1>
    <p> Yesterday on UnderBoard, today on X and tomorrow on newspapers</p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']"> Register </a>
        <a class="btn btn-default" [routerLink]="['/login']"> Login </a>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <h3>Bulletin board</h3>
        <p>Post your thoughts</p>
    </div>

    <div class="col-md-4">
        <h3>No additional information collection</h3>
        <p>You are able to write posts even though you are not logged in</p>
    </div>

    <div class="col-md-4">
        <h3>Warning!</h3>
        <p>May be highly addictive!</p>
    </div>

</div>