<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']">
                <img src="../../../assets/norppa_square.jpg" alt="Logo" class="logo-img">
                UnderBoard</a>
        </div>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <!-- <ul class="navbar-nav navbar-left">
            <ul class="activate">
                <li [routerLinkActive]="['active']" ><a [routerLink]="['/']" class="nav-link">Home</a></li>
            </ul> -->

            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']" class="nav-link">Dashboard</a> </li>
                <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']" [routerLink]="['/profile']" class="nav-link">Profile</a> </li>

                <li><a [routerLink]="['/rules']" class="nav-link">Rules</a> </li>
                <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"><a [routerLink]="['/register']" class="nav-link">Register</a> </li>
                <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']" [routerLink]="['/login']" class="nav-link">Login</a> </li>
                <li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()" href="#" class="nav-link">Logout</a> </li>
            </ul>
        <!-- </ul> -->
        </div>
</nav>

<div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
</div>